/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General styles */
body {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }



header {
    background-color: green;
    
}

main {background-color: red;}

/* Footer */

footer{background-color: #3a92eb;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#footer-info, #directions  {
   
    justify-content: space-evenly;
    text-align: center;
    
}

#directions h3 {
    padding-top: 15px;
}

#footer-info h3, #directions h3 {
   
    text-transform: uppercase;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #footer-info  {
        display: flex;
        justify-content:space-evenly;
        text-align: center;
        text-transform: uppercase;
    }

.footer-cols {
    width: 33%;
}
}

